<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ;를 쓰면 오류 -->
<mapper namespace="guestbook2">
	<!-- <select id="list" parameterType="" resultType="">; -->

	<select id="list" resultType="com.ict.db.VO">;
		select * from guestbook2 order by idx
	</select>

	<select id="onelist" parameterType="String"
		resultType="com.ict.db.VO">
		select * from guestbook2 where idx=#{idx}
	</select>

	<insert id="insert" parameterType="com.ict.db.VO">
		insert into guestbook2 values = (guestbook_seq.nextval,#{name},#{subject},#{content},#{email},#{pwd},#{f_name},sysdate)
	</insert>

	<delete id="delete" parameterType="com.ict.db.VO">
		delete from  guestbook2 where idx= ${idx}
</delete>

	<update id="update" parameterType="com.ict.db.VO">
		update guestbook2 set  name=#{name},subject=#{subject},content=#{content},email=#{email} where idx=#{idx}
	
	</update>




</mapper>